gymnasium==1.2.0
matplotlib==3.10.1
networkx==3.5
numpy==2.2.5
openstudio==3.9.0
pandas==2.2.3
pcse==6.0.9
pymeshlab==2023.12.post2
pyvista==0.44.2
rtree==1.4.0
scipy==1.16.1
shapely==2.1.0
trimesh==4.6.3
